@import url('https://fonts.googleapis.com/css?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400&display=swap');
.root {
    --heigt: 50px;
    --width: 60px;
    --padding: 15px;
    --light-color: #2731b4;
    width: inherit;
    height: inherit;
    background-color: blue;
}

.linkButton {
    text-decoration: none;
    color:#000;
    font-size: larger;
    line-height: 1.4rem;
    margin: 10px;
}

.navContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
  }